
@model BANCO.Models.Usuario

<h2>Actualizar contraseña</h2>
@using (Html.BeginForm("ActualizarPassword", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Contraseña actual:")
        @Html.Password("password", null, new { @class = "form-control"})
        @Html.ValidationMessage("password", "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.Label("Nueva contraseña:")
        @Html.Password("nuevapassword", null, new { @class = "form-control"})
        @Html.ValidationMessage("nuevapassword", "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.Label("Confirmar contraseña:")
        @Html.Password("confirmarpassword", null, new { @class = "form-control"})
        @Html.ValidationMessage("confirmarpassword", "", new {@class = "text-danger"})
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
}

