@model IEnumerable<BANCO.Models.Cuenta>

@{
    ViewData["Title"] = "";
}

<br />
<h2>Bienvenido, @ViewBag.Usuario</h2>
<br />
<p>
    <a asp-action="Create">Crear</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <a asp-action="MovimientosPorCuenta" asp-controller="Movimiento" asp-route-idCuenta="@item.Id">Movimientos de cuenta</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver cuentas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
